apiVersion: v1
kind: Service
metadata:
  name: {{ include "hook0.fullname" . }}-api
  labels:
    {{- include "hook0.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "hook0.name" . }}-api
    app.kubernetes.io/instance: {{ .Release.Name }}
