{{- if .Values.frontend.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hook0.fullname" . }}-frontend
  labels:
    {{- include "hook0.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "hook0.name" . }}-frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- end }}
